.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  margin-top: -25px;
  font-family: "Raleway", sans-serif;

  @media (max-width: 500px) {
    font-size: 16px;
  }

  &__item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    span,
    a {
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
    }
  }
}

.map {
  border: 0;
  padding-bottom: 25px;
  width: 85vw;
}
