.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

.homeGallery {
  display: flex;
  width: 80vw;
  height: 500px;
  img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: all 300ms ease;
    height: 100%;

    @media (max-width: 600px) {
      width: 100%;
      height: 0px;
    }

    &:hover {
      cursor: crosshair;
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
      @media (max-width: 600px) {
        width: 100%;
        height: 250px;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    width: 90vw;
    height: 500px;
  }
}

.servicios {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: Helvetica, sans-serif;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  &__article {
    text-align: center;
    width: 200px;
    margin: 20px auto;

    img {
      border-radius: 15px;
    }

    &__title {
      margin: 15px auto;
      font-size: 25px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      margin: 10px;
      span {
        margin: 7px auto;
      }
    }
  }
}

.carousel {
  width: 100vw;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vw;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 600px) {
    width: 100vw;
  }

  &__title {
    font-size: 35px;
    font-weight: 600;
    color: #222;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 5px 15px;
    border-radius: 5px;

    @media (max-width: 700px) {
      font-size: 25px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      background-color: #1e578fe5;
      color: #eee;
      width: 50px;
      height: 50px;
      font-size: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
