.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.homeGallery {
  display: flex;
  width: 80vw;
  height: 500px;
  img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: all 300ms ease;
    height: 100%;

    @media (max-width: 600px) {
      width: 100%;
      height: 0px;
    }

    &:hover {
      cursor: crosshair;
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
      @media (max-width: 600px) {
        width: 100%;
        height: 250px;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    width: 90vw;
    height: 500px;
  }
}

.servicios {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: Helvetica, sans-serif;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  &__article {
    text-align: center;
    width: 200px;
    margin: 20px auto;

    img {
      border-radius: 15px;
    }

    &__title {
      margin: 15px auto;
      font-size: 25px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      margin: 10px;
      span {
        margin: 7px auto;
      }
    }
  }
}
