$normalPadding: 1rem;
$primary-color: #378aae;

.normal {
  height: 100px;
  background-color: $primary-color;
}

.shrink {
  height: 75px;
  background-color: #378aaeea;
}

.header {
  display: flex;
  z-index: 5;
  align-items: center;
  justify-content: space-around;
  color: #eee;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: all 300ms;
}

.titleBox {
  padding: $normalPadding;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  &__title {
    font-size: 32px;
    @media (max-width: 550px) {
      font-size: 24px;
    }
  }
  &__subtitle {
    font-size: 24px;
    @media (max-width: 550px) {
      font-size: 16px;
    }
  }
}

.navigator {
  padding: $normalPadding;
  font-family: "Raleway", sans-serif;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    &__item {
      padding: $normalPadding;

      a {
        height: 50px;
        width: 80px;
        transition: all 300ms;
        font-weight: 500;

        &:hover {
          color: #222;
          font-weight: 600;
        }
      }
    }
  }
  @media (max-width: 950px) {
    display: none;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: transparent;
  gap: 9.35px;
  border: none;
  cursor: pointer;
  &__line {
    background: white;
    height: 3px;
    width: 100%;
    transition: all 300ms;
    transform-origin: left;
  }

  &__open {
    div:first-child {
      transform: rotate(45deg);
    }
    div:nth-child(2) {
      opacity: 0;
    }
    div:last-child {
      transform: rotate(-45deg);
    }
  }

  @media (max-width: 950px) {
    display: flex;
  }
}

.responsiveMenu {
  position: fixed;
  top: -250px;
  padding: $normalPadding;
  background-color: #4893b4f7;
  color: #eee;
  height: 250px;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 300ms;
  display: none;

  &__scrolled {
    top: 75px;
  }

  &__open {
    top: 100px;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
    &__item {
      padding: $normalPadding;
      width: 100%;
      a {
        padding: 15px 30vw;
        transition: all 300ms;
        font-weight: 500;

        @media (max-width: 400px) {
          padding: 15px 20vw;
        }

        &:hover {
          color: #222;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 950px) {
    display: block;
  }
}
